<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
{% extends "layout.html" %}
{% block header %}
    <p>My Wall</p>
{% endblock %}

{% block intro_main %}
    <div class="main-bio">
        <div class="new-resume">
            
        </div>
    </div>
{% endblock %}
{% block all_main %}
    
{% endblock %}
<!--side content-->
{% block bio %}
    <div class="bio-header">
        <h4>Hello there</h4><br>
        <div class="bio-text">
            <p></p>
            <p></p><br>
            <p></p>
        </div>
    </div>
{% endblock %}
</body>
</html>