<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
{% extends "layout.html" %}
{% block header %}
    <p>My Work Info</p>
{% endblock %}

{% block intro_main %}
    <div class="main-bio">
        <div class="all-resume">
            <div class="summary">
                <h2>Summary</h2>
                <p>Recent CodingDojo graduate where I learned full-stack web development in Python, MySQL and Flask technologies to see my ideas come to life. My goal is to bring my decade worth of customer-focused, technical, and problem solving skills in addition to my new abilities as a web developer to a company where I can strive to exceed company goals while simultaneously improving and expanding on my new skill set. </p>
            </div>
            <div class="proskills">
                <h2>Technical & Professional Skills</h2>
                <p><span class="titles">Languages </span>HTML, CSS, Python, JavaScript, C# | <span class="titles">Frameworks </span>Flask | <span class="titles">Databases </span>MySQL | <span class="titles">Tools </span>Jinja, Bootstrap 4 | <span class="titles">Technologies </span>Windows 10 & 11, MacOS, Android, iOS, Office365, Citrix Workspace, Active Directory, ThinPrint, Microsoft Remote Desktop, TCP/IP, Computer Hardware, Splashtop, Webremote, Confluence, Bria 5, Zendesk, AutoTask, ITGlue, and QuickBooks Desktop 2018 Pro Advisor</p>
            </div>
            <div class="projects">
                <h2>Personal Projects</h2>
                <h3>Greenroom</h3>
                <p>Developing a brand new platform to help artists, managers, and promoters in the music industry to collaborate and share their talent.</p>
                <h3>brixtronix</h3>
                <p>Placeholder</p>
            
                <h2>Professional Projects</h2>
                <h3>Training Team</h3>
                <ul class="skills">
                    <li class="skill">Cross-trained new tier 3 accounts agents and language specialized billing agents in technical topics.</lil>
                    <li class="skill">Onboarded new tier 3 technical agents, ingraining confidence and filling knowledge gaps using documentation within appropriate support scope.</li>
                </ul>
                <h3>Trending Team</h3>
                <ul class="skills">
                    <li class="skill">Identified third-party technical issues that required additional support or developer resolution and ensured the issue was appropriately reported to the correct team.</li>
                    <li class="skill">Vetted temporary or self-resolving issues versus genuine trending technical issues to best manage support agent time and resources.</li>
                </ul>
                <h3>Publishing Team</h3>
                <ul class="skills">
                    <li class="skill">Bridged support between client and third-party teams for resolving issues requiring developer response.</li>
                    <li class="skill">Worked alongside a specialized team tasked with identifying reproducible trending issues, verifying frequency of issue, and documenting/communicating between support and development.</li>
                </ul>
            </div>
            
            <div class="experience">
                <h2>Professional Experience</h2>
                <h3>Proactive Support Specialist | FusionTek |  Kirkland, WA & Remote | 09.2020 - 03.2023</h3>
                <ul class="skills">
                    <li class="skill">Oversaw assignment, progress, and completion of all end-user deployment tickets.</li>
                    <li class="skill">Identified and resolved show stopping technical issues and reprioritized urgent requests while meeting SLA.</li>
                    <li class="skill">Worked closely with service delivery and technical agents to coordinate on-site setups of end user machines.</li>
                    <li class="skill">Evaluated and identified potential process improvements and submitted them to management for review.</li>
                </ul>
                <h3>Helper | Apex Systems | Remote | 04.2020 - 09.2020 </h3>
                <ul class="skills">
                    <li class="skill">Exceeded ticket number and quality standards while responding to an extremely high backlog of email-based account, billing, and technical tickets.</li>
                    <li class="skill">Identified and documenting trending technical issues across multiple platforms and offering an appropriate resolution or response path.</li>
                    <li class="skill">Screened account recovery requests and adhering to a rigorous fraud prevention and account recovery process.</li>
                </ul>
                <h3>Support Engineer | Swizznet | Remote | 12.2018 - 01.2020  </h3>
                <ul>
                    <li class="skill">Created and tested newly onboarded companies and users through Active Directory or Citrix Cloud Workspace.</li>
                    <li class="skill">Assisted new clients in configuring Swizznet software and accessing cloud-based apps.</li>
                    <li class="skill">Developed processes and procedures to improve quality of life and team productivity.</li>
                    <li class="skill">Resolved profile, performance, connection, and other technical issues as they arose.</li>
                </ul>
                <h3>Consultant | Blueprint Technology | Bellevue, WA | 10.2016 - 11.2018</h3>
                <h4>Consultant, Tier 3 | 02.2017 - 11.2018</h4>
                <ul>
                    <li class="skill">Responded to obscure, sensitive, and complex technical and community moderation issues.</li>
                    <li class="skill">Provided assistance and guidance to lower tier agents through direct communication and utilizing our internal feedback tool.</li>
                    <li class="skill">Assisted with leadership activities as requested.</li>
                    <li class="skill">See Professional Projects for more in-depth project information</li>
                </ul>
                <h4>Consultant, Tier 1 | 10.2016 - 02.2017</h4>
                <ul>
                    <li class="skill">Responded to a high volume of email-based support tickets while maintaining an exceptional level of quality.</li>
                    <li class="skill">Properly identified technical tickets and suggested steps on out of scope issues.</li>
                </ul>
            </div>
            <div class="education">
                <h2>Education</h2>
                <h3>Coding Dojo | Full Stack Web Development | Remote | 09.2022 - 05.2023</h3>
                <ul>
                    <li class="skill">Full-stack training program in Python, Flask & MySQL</li>
                    <li class="skill">Certificate of Completion</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block all_main %}
    
{% endblock %}
<!--side content-->
{% block bio %}
    <div class="bio-header">
        <h2>Hello there</h2><br>
        <div class="bio-text">
            <p>this will house my job stuff</p>
            <p></p><br>
            <p></p>
        </div>
    </div>
{% endblock %}
</body>
</html>